module {{gitHost}}/{{gitUserId}}/{{gitRepoId}}{{#isGoSubmodule}}/{{packageName}}{{/isGoSubmodule}}

go 1.13

require (
	golang.org/x/oauth2 v0.0.0-20211104180415-d3ed0bb246c8
	{{#withAWSV4Signature}}
	github.com/aws/aws-sdk-go v1.34.14
	{{/withAWSV4Signature}}
)
